<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.f4blog.admin.mapper.inter.MenuDao">


    <select id="query" resultType="map">
        SELECT a.* FROM base_menu a where 1=1
        <if test="name != null and name != ''">
           and a.name like CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="getAll" resultType="map">
        SELECT a.* FROM base_menu a where 1=1
        <if test="name != null and name != ''">
            and a.name like CONCAT('%',#{name},'%')
        </if>
        <if test="exclude_id != null and exclude_id != ''">
            and !( a.parent_ids LIKE CONCAT('%$[',#{exclude_id},'$]%') escape '$')
            and a.id != #{exclude_id}
        </if>
    </select>

    <select id="getLikeParentIds" resultType="com.f4blog.model.base.BaseMenu">
        SELECT a.* FROM base_menu a where 1=1
        <if test="id != null and id != ''">
            and parent_ids LIKE CONCAT('%$[',#{id},'$]%') escape '$'
        </if>
    </select>

</mapper>


