<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.f4blog.admin.mapper.inter.PermissionDao">
    <select id="query" resultType="map">
        SELECT a.* FROM base_permission a where 1=1
        <if test="name != null and name != ''">
           and a.name like CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="getAll" resultType="map">
        SELECT a.* FROM base_permission a where 1=1
        <if test="name != null and name != ''">
            and a.name like CONCAT('%',#{name},'%')
        </if>
    </select>
</mapper>


